{% extends "layout.html" %}
{% block content %}
<div class="">
    <form method="POST" action="/join" style="padding: 200px;">
        <div class="field">
            <div class="control">
                <input class="" type="email" name="email" placeholder="Email" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="" type="fullname" name="fullname" placeholder="fullname">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="" type="text" name="username" placeholder="Username" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="" type="date" name="birth_date" placeholder="Date Of Birth" autofocus="">
            </div>
        </div>
        <label for="gender">Choose your gender:</label>
        <select name="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select>
        <div class="field">
            <div class="control">
                <input class="" type="password" name="password" placeholder="Password">
            </div>
        </div>

        <button class="">Sign Up</button>
    </form>
</div>
{% endblock %}